* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#container {
  width: 100vw;
}
#currencyContainer {
  margin: auto;
  width: 100vw;
  text-align: center;
  padding-top: 2em;
}
#currencyText {
  font-family: monospace;
  font-size: 4em;
}
#darkMatter {
  font-family: monospace;
  font-weight: bold;
  background: -webkit-linear-gradient(#8900d7, #28006d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
